<div class="dialog-content-full">
	<div style="display:flex;flex-direction:row;">
		<button onclick="history.back()">Back</button>
		<div style="flex:99999;text-align:center;padding:3px;">
			ExeInfo
		</div>
	</div>
	<div class="morecmds" style="flex:99999;padding:10px;overflow-y:scroll;border-top:1px solid gray;">

		<h3>MoreCmds</h3>
		<p>Under construction..</p>

	</div>
</div>

@code {

}
