@inherits DemoDialogBase

@using WF = System.Windows.Forms

@implements IDisposable

@inject BlazorSession bses

@code
{
	System.Windows.Forms.NotifyIcon ni;

	bool _disposed = false;
	void IDisposable.Dispose()
	{
		_disposed = true;
		if (ni != null)
		{
			ni.Dispose();
		}
	}
}


@code {

	void Show()
	{
		CefLite.CefWin.InvokeInAppThread(delegate
		{
			System.Drawing.Bitmap img = new System.Drawing.Bitmap(32, 32);
			using (System.Drawing.Graphics g = System.Drawing.Graphics.FromImage(img))
			{
				g.FillEllipse(System.Drawing.Brushes.Red, 0, 0, 32, 32);
				g.FillRectangle(System.Drawing.Brushes.Blue, 8, 8, 16, 16);
			}

			if (ni == null) ni = new System.Windows.Forms.NotifyIcon();
			ni.Icon = System.Drawing.Icon.FromHandle(img.GetHicon());
			ni.Visible = true;
			ni.BalloonTipText = "OKOK";
			ni.ShowBalloonTip(5000);
			ni.ContextMenuStrip = new WF.ContextMenuStrip() { };
			ni.ContextMenuStrip.Items.Add("Back", img, delegate
			{
				bses.EvalCode("history.back()");
			});
		});
	}

}

<div class="dialog-content-full">
	<div style="display:flex;flex-direction:row;">
		<button onclick="history.back()">Back</button>
		<div style="flex:99999;text-align:center;padding:3px;">
			NotifyIcon
		</div>
	</div>
	<div class="ntfyicon" style="flex:99999;padding:10px;overflow-y:scroll;border-top:1px solid gray;">


		<button class="btn btn-primary" @onclick="Show">Test Notify Icon</button>

	</div>
</div>